.reviewform {
    background-color: rgb(233, 233, 233);  
    padding: 10px 0;    
}

.reviewform h2 {
    Font-Family: 'Catamaran', Sans-Serif;
    font-size: 30px;
    margin: 35px 0 15px; 
}

.reviewform textarea {
 
    width: 85%; 
    height: 60px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.reviewform label {

    Font-Family: 'Merriweather Sans', Sans-Serif;
    margin-right: 5px; 
}

.reviewform input {

    margin-left: auto; 
    margin-right: auto; 
    Font-Family: 'Merriweather Sans', Sans-Serif; 
    margin-bottom: 10px; 
}

.reviewform input[type='submit'] {
    margin-top: 20px; 
    Font-Family: 'Catamaran', Sans-Serif;
    font-size: 18px; 
    margin-bottom: 20px; 
    display: block;
}

@media only screen and (min-width: 540px) {
    .reviewform textarea {
 
        width: 65%; 
    }
      
      }

@media only screen and (min-width: 740px) {
    .reviewform textarea {
 
        width: 45%; 
    }
      
      }     

@media only screen and (min-width: 810px) {
    .reviewform h2 {
        font-size: 35px; 
    }

      
      }




